slice-landing-menu {
  h1 {
    z-index: 0;
  }

  h2{
    color: var(--font-primary-color);
  }

  .sliceLogo {
    position: absolute;
    z-index: -1;
  }
  .intro {
    height: 85vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .intro h1 {
    /* font-family: "Ubuntu", sans-serif; */
    font-weight: bold;
    font-style: normal;
    color: var(--font-primary-color);
    animation: fade-in 3s ease;
    text-shadow: black 1px 0 100px;
  }
  .intro .sliceLogo {
    opacity: 0.75;
    color: var(--primary-color);
    animation: fade-in-logo 5s ease, beat 10s ease infinite 5s;
  }
  .info {
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info p a {
    color: var(--primary-color);
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .info p a:hover {
    text-shadow: white 1px 0 10px;
    text-decoration: underline;
  }
  .goToDocs {
    margin-top: 50px;
    color: var(--font-primary-color);
  }
  .goToDocs p {
    text-align: justify;
  }
  @media screen and (min-width: 770px) {
    .goToDocs {
      padding-left: 30%;
      padding-right: 30%;
    }
    h1 {
      font-size: 100px;
    }
  }
}
@media screen and (max-width: 770px) {
  .goToDocs {
    padding: 10px;
  }

  .info {
    bottom: 20;
  }


}
@keyframes fade-in {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes fade-in-logo {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  100% {
    opacity: 0.75;
    scale: 1;
  }
}
@keyframes beat {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.9;
  }
  100% {
    scale: 1;
  }
}
