<div class="intro">
  <h1>Slice Framework</h1>
  <div class="info">
    <h2 style="text-align: center; padding-top: 10px;">Slice.js: Build Your Web App One Slice at a Time.</h2>
  </div>
</div>
<div class="goToDocs">
  <p>
    Introducing Slice.js, a revolutionary frontend framework built on modern web standards and powered by the simplicity of vanilla JavaScript. 
    With its modular, component-based architecture, Slice.js streamlines web development, enabling developers who know the core technologies—HTML, CSS, and JavaScript—to build robust, well-organized web applications with ease.
  </p>
  <p>
    Dive into our comprehensive documentation to learn how Slice.js leverages native web components and a clean, 
    standards-based syntax to simplify your workflow. 
  </p>
</div>
