<div class="slice_team">
   <div class="slice_team_hero">
      <div class="hero_overlay"></div>
      <h1>The Minds Behind Slice.js</h1>
      <p>Meet the passionate developers who created this framework</p>
   </div>
   
   <div class="slice_team_content">
      <h2 class="slice_team_title">Our Team</h2>
      <div class="slice_team_container"></div>
      
      <div class="slice_special_thanks"></div>
      
      <div class="slice_team_footer">
         <p>Want to contribute? Join us on <a href="https://github.com/VKneider/slice.js" target="_blank">GitHub</a></p>
      </div>
   </div>
</div>