slice-mynavigation {
  position: fixed;
  top: 0;
  right: 0;
  font-family: var(--font-family);
  background-color: var(--primary-background-color);
  border-left: 1px solid var(--primary-color-shade);
  display: flex;
  align-items: flex-start;
  height: 100%;
  width: 17%;
  transition: transform 0.3s ease, width 0.3s ease;
  overflow-x: hidden;
}
.my_navigation {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.my_navigation a {
  padding: 10px;
}

@media only screen and (max-width: 770px) {
  slice-mynavigation {
    visibility: hidden;
  }
}
a[class^="nav-"] {
  text-decoration: none;
  color: var(--font-primary-color);
}
a[class^="nav-"]:hover{
  color: var(--primary-color);
}
a[class$="1"] {
  font-weight: 700;
  margin-left: 0%;
}
a[class$="2"] {
  margin-left: 5%;
}
a[class$="3"] {
  margin-left: 10%;
}
a[class$="4"] {
  margin-left: 15%;
}

