:root {
  --cards-padding: 30%;
}
.cards {
  padding-left: var(--cards-padding);
  padding-right: var(--cards-padding);
  margin-top: 50px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 770px) {
  :root {
    --cards-padding: 20px;
  }
}
