slice-mainmenu {
  position: fixed;
  top: 0;
  left: 0;
  font-family: var(--font-family);
  background-color: var(--primary-background-color);
  border-right: 1px solid var(--primary-color-shade);
  display: flex;
  align-items: flex-start;
  height: 100%;
  width: 17%;
  transition: transform 0.3s ease, width 0.3s ease;
  overflow-x: hidden;
}
.slice_menu {
  margin-top: 175px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
}

.slice_menu_button {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  width: min-content;
  cursor: pointer;
  padding: 20px;
}

.menu_title {
  visibility: hidden;
}

.slice_close_menu {
  visibility: hidden;
  position: absolute;
  padding: 20px;
  top: 0;
  right: 0;
}

slice-treeview .simple_treeview::-webkit-scrollbar,
slice-mainmenu::-webkit-scrollbar {
  width: 0px;
}
slice-treeview .simple_treeview::-webkit-scrollbar:horizontal,
slice-mainmenu::-webkit-scrollbar:horizontal  {
  height: 0px;
}

@media only screen and (max-width: 770px) {
  slice-mainmenu {
    top: 0px;
    position: fixed;
    z-index: 100000;
    display: flex;
    width: 0%;
  }

  .slice_menu_button {
    right: 100%;
    visibility: visible;
  }

  .menu_title {
    visibility: visible;
  }

  .slice_menu_open {
    width: 80%;
  }

  .slice_close_menu {
    visibility: visible;
  }
}
